---
layout: default
title: HOME
---

<h1>Posts</h1>

{% if site.posts.size > 0 %}
  {% for page in site.posts %}
    <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
    <span class="date"><em>{{ page.date | date: "%Y-%m-%d" }}</em></span>
    <p></p>
    {{ page.excerpt }}
  {% endfor %}
{% else %}
<pre><em>No post</em></pre>
{% endif %}

<h1>Projects</h1>

<div>
    <ul>
        <li><a href='/Snipping'>Snipping</a>:<em> edit and run python snippet in real time.</em>
        </li>
    </ul>
</div>

